---
layout: default
title: Hypothes.is Project
---

<div class ="container">
  <h1>{{ page.title }}</h1>
  <div class="recent-posts">
    <h1>Our Code Repositories</h1>
    <div class="homepage-posts most-recent">
      <ul class="posts">
        {% for repo in site.github.public_repositories %}
          <li>
          &raquo; <a href="{{ repo.html_url }}">{{ repo.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="recent-posts">
    <h1>h Releases</h1>
    <div class="homepage-posts most-recent">
      <ul class="posts">
        {% for release in site.github.releases %}
          <li>
          &raquo; <a href="{{ release.html_url }}">{{ release.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>
