---
layout: default
---
<div id="article">
  <div class="article-title">{{ page.title }}</div>
  <p class="meta">
    <small>&nbsp;<i class="fa fa-calendar-o"></i>
    <time>{{ page.date | date_to_string}}</time>
    <a href="https://github.com/{{ page.author }}" class="post-author">
      <img src="https://github.com/{{ page.author }}.png" class="avatar" alt="{{ page.author }}">
      {{ page.author }}
    </a>
  </small></p>
  <hr/>
  <div class="post">
    {{ content }}
  </div>
</div>

{% include pager.html %}
